[submodule "thirdparty/mbed"]
	path = thirdparty/mbed
	url = https://github.com/mbedmicro/mbed.git
[submodule "thirdparty/esp8266"]
	path = thirdparty/esp8266
	url = https://github.com/jonnor/ESP8266.git
