[submodule "thirdparty/mbed"]
	path = thirdparty/mbed
	url = https://github.com/mbedmicro/mbed.git
[submodule "thirdparty/Adafruit_NeoPixel"]
	path = thirdparty/Adafruit_NeoPixel
	url = https://github.com/jonnor/Adafruit_NeoPixel.git
[submodule "thirdparty/stellaris"]
	path = thirdparty/stellaris
	url = https://github.com/yuvadm/stellaris.git
[submodule "thirdparty/Adafruit_WS2801"]
	path = thirdparty/Adafruit_WS2801
	url = https://github.com/adafruit/Adafruit-WS2801-Library.git
