main, body {
    height: 400px;
}

config {
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For all Gecko based browsers */
          box-sizing: border-box;
}

.line  {
  height: 25px;
}

.input {
  float: right;
  width : 150px;
  margin: 0;
}

runtimeStatus {
    float: right;
}

.longline  {
  width: 285px;
}


